@import 'styles/variables';

.Logo {
  width: 100%;
  display: flex;

  &:after,
  &:before, {
    flex-grow : 1;
    flex-shrink : 1;
    flex-basis : 0;
    content: '';
    background: $gray-300;
    height: 1px;
    top: 24px;
    position: relative;
  }
}

.Logo_link {
  flex-grow : 1;
  flex-shrink : 1;
  flex-basis : 0;
  max-width: calc(48px + 16px * 2);
  height: 48px;
  text-align: center;
}
