@import 'styles/breakpoints';
@import 'styles/variables';

.City {
  padding: 24px 0;
  background: #fff;
  border-radius: 24px;
}

.City_info {
  padding: 0 24px 34px 32px;
  display: flex;
  justify-content: space-between;
}

.City_additional {
  padding: 24px 32px 0 32px;
  border-top: 1px solid $gray-200;
  display: flex;
}

.City_name {
  font-size: 14px;
  font-family: $font-family-pt-root;
  color: $purple-100;
  letter-spacing: 0.08em;
  line-height: 20px;
  margin-bottom: 13px;
}

.City_temp {
  font-size: 48px;
  font-family: $font-family-pt-root;
  color: $gray-500;
  margin: 3px 0;
}

.City_description {
  font-size: 14px;
  font-family: $font-family-pt-root;
  color: $gray-400;

  &:first-letter {
    text-transform:capitalize;
  }
}

.City_icon {
  width: 48px;
  height: 48px;
  margin: 0 16px;
}

.City_button {
  width: 48px;
  height: 48px;
  border: 1px solid $gray-200;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-tap-highlight-color: transparent;

  &:focus {
    outline: 0;
  }
}

.CityWeatherProperty {
  display: flex;
  align-items: center;
  margin-right: 34px;

  @include g-responsive-after(md) {
    margin-right: 12px;
  }
  @include g-responsive-after(lg) {
    margin-right: 34px;
  }
}

.CityWeatherProperty_icon {
  width: 24px;
  height: 24px;
  margin-right: 4px;
}

.CityWeatherProperty_caption {
  color: $gray-500;
  font-family: $font-family-pt-root;
  font-size: 16px;
}