@import 'styles/variables';

.SearchResultItem {
  &:last-child {
    .SearchResult_buttonContent:after {
      display: none;
    }
  }
}

.SearchResultItem_button {
  background: none;
  border: 0;
  cursor: pointer;
  display: flex;
  width: 100%;
  padding: 20px 24px 21px;

  &:hover,
  &:focus {
    background: $gray-100;
    outline: none;
  }
}

.SearchResultItem_buttonContent {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:after {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    bottom: -21px;
    height: 1px;
    background: $gray-200;
  }
}

.SearchResultItem_description {
  text-align: left;
}

.SearchResultItem_cityName {
  font-family: $font-family-pt-root;
  font-weight: $font-weight-bold;
  color: $gray-500;
  font-size: 16px;
  line-height: 24px;
  display: block;
}

.SearchResultItem_coords {
  color: $gray-400;
  font-size: 14px;
  line-height: 20px;
}
