@import 'styles/variables';

.SearchResult {
  position: relative;
}

.SearchResult_container {
  position: absolute;
  width: 100%;
  background: #fff;
  border-radius: 8px;
  box-shadow: $dropdown-shadow;
  top: 8px;
  overflow: hidden;
}

.SearchResult_list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.SearchResult_spinner {
  padding: 30px 0 27px;
  width: 100%;
  text-align: center;
}

.SearchResult_spinnerIcon {
  animation-name: spin;
  animation-duration: .6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

.SearchResult_text {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.SearchResult_textTitle {
  color: $gray-500;
  font-family: $font-family-pt-root;
  font-weight: $font-weight-bold;
  line-height: 24px;
}

.SearchResult_textDescription {
  color: $gray-400;
  line-height: 20px;
}
