@import 'styles/variables';
@import 'styles/breakpoints';

.App {
  max-width: 1024px; // maximum width 992px + sides padding 16px X 2
  padding: 0 16px 20px;
  margin: 0 auto;
}

.App_header {
  margin-bottom: 32px;
}

.App_logo {
  padding: 24px 0 0;

  @include g-responsive-after(sm) {
    padding: 24px 0 27px 0;
  }
}

.App_h1 {
  font-family: $font-family-merriweather;
  font-size: 28px;
  font-weight: 400;
  color: $gray-500;
  margin-bottom: 10px;

  @include g-responsive-after(sm) {
    font-size: 36px;
    line-height: 36px;
    margin: 6px 0 9px 0;
  }
}

.App_p {
  font-family: $font-family-merriweather;
  color: $gray-400;
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 20px;

  @include g-responsive-after(md) {
    margin: 0;
  }

  @include g-responsive-after(sm) {
    font-size: 16px;
    line-height: 24px;
    padding-top: 6px;
  }
}

.App_search {
  width: 100%;

  @include g-responsive-after(lg) {
    width: 352px;
  }
}